<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Response Previewer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles/github.css') }}">
        
        <style type="text/css">
            #source {
                width:80%;
                height: auto;
            }
        </style>
    </head>
    <body onload="init();">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="">
            
            <h2>{{response.digest}}</h2>

            {% if response.identity is defined %}
                <div>
                    <p><span>Protocol:</span> {{response.identity.protocol}}</p>
                    <p><span>Type:</span> {{response.identity.subtype}}</p>
                    <p><span>Service:</span> {{response.identity.service}}</p>
                    <p><span>Version:</span> {{response.identity.version}}</p>
                    <p><span>Is Error:</span> {{response.identity.is_error}}</p>
                </div>
            {% endif %}

            <div id="source" class="xml-box">
                <h2>Source</h2>
                <pre><code class="lang-xml">
{{response.xml}}
                </code></pre>
            </div>
                
            
            
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
          <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script> 

        <!--<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <script>hljs.initHighlightingOnLoad();</script>

        <script type="text/javascript">
            function init() {
                $('code').each(function(i, block) {
                  hljs.highlightBlock(block);
                });
            }
        </script>

    </body>
</html>
